.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.icon-button {
  padding: 4px;
  border-radius: 12px;
  width: 16px;
  height: 16px;
}

.textarea-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.wrapper-preview {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
}

.wrapper-textarea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
